body {font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;margin: 2rem;padding: 2rem;}

    body.mode_clair {background-color: inherit; color: black; }

    body.mode_sombre { background-color: #20232a; color: white;}

        body.mode_sombre #compteur { border: solid white;}

#mode{cursor:pointer; }

.introduction {list-style: none; display: flex; padding: 10px; margin: 10px; flex-wrap: wrap;}

    .introduction a {color: blue;text-decoration: none; padding:10px ; margin: 10px ;}

        .introduction a:hover {text-decoration: underline;}

main {margin: 2rem;}

#nom {font-size: 32px;margin: 0 0 2px;color: blue;text-align: center;}

h3 {color: blue;text-align: center;margin: 0;}

#compteur {color: green;border: solid black;margin-top: 1rem;padding: 5px;display: inline-block;}

nav a:hover {color: green;}

.table_matiere ul {list-style: none;margin: 2px 0 0;padding: 5px;}

.table_matiere  li::before {content: "👉";color: gold;font-size: 1.2em;margin-right: 8px;}

.table_matiere a {text-decoration: none;color: skyblue;}

#rappel{cursor:pointer;}

#contact { list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap; color: gray;}

#telephone {border: dashed blue;border-radius: 10% ;}


.langues {list-style: none;}

#telechargement{cursor : pointer;}